@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@mixin flex-gap {
    display: flex;
    gap: 20px;
    align-items: center;
}


@mixin flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin flexColumn {
    display: flex;
    flex-direction: column;
    
}

@mixin responsive($breakpoint) {
    @media (max-width: $breakpoint) {
        @content;
    }
}
